body {
	margin: 0;
	padding: 0;
	background-color: #eaeef8;
	color: #0B2161;

	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
}

button, h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

button {
	background: #3498db;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	text-decoration: none;
}

button:hover {
	background: #3cb0fd;
	text-decoration: none;
}

#outer {
	text-align: center;
}

.sudoku-menu {
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.sudoku-container {
	border: 5px solid #666;
	margin-left: auto;
	margin-right: auto;
}

.sudoku-container td {
	margin: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	padding: 0;
}
.sudoku-container input {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	padding: 0;
	border: 2px #ccc solid;
	background: transparent;
}

.sudoku-container .sudoku-input-error {
	background: #ffc9d7;
}
.sudoku-container.valid-matrix {
	border: 5px solid #7edb37;
}


.sudoku-region-0 {
	background: #c7b8f2;
}
.sudoku-region-1 {
	background: #8181f7;
}
.sudoku-region-2 {
	background: #58acfa;
}
.sudoku-region-3 {
	background: #a9e2f3;
}

